@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");

:root {
  --box-shadow-1: 5px 10px 20px 0px rgba(0, 0, 0, 0.09);
  --box-shadow-2: 5px 10px 15px 0px rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Quicksand", sans-serif;
  background: lighten(#bbbbbb, 15%);
}

.App {
  height: 100vh;
  width: 100%;

  .user--detail {
    max-height: 100%;
    height: auto;
    margin: 1rem 30%;
    padding: 20px;

    h1 {
      font-size: 2.5rem;
    }
    .form--group {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      label {
        font-size: 0.9rem;
        margin: 1rem 0;
      }

      .form--control {
        width: 100%;
        height: 3.5rem;
        border-radius: 3px;
        border: none;
        background: #ebebeb;
        padding-left: 20px;
        box-shadow: var(--box-shadow-2);

        &:focus {
          outline: none;
        }
      }
    }
    .btn {
      height: 3rem;
      width: 10vw;
      margin-top: 1rem;
      outline: none;
      border: none;
      font-size: 0.9rem;
      border-radius: 3px;
      color: #fff;
      box-shadow: var(--box-shadow-1);
    }
    .btn--continue {
      background: #0432c9;
    }
    .btn--return {
      background: #444;
      margin-right: 5rem;
    }
  }

  .confirm--container {
    margin: 1rem 20%;
    padding: 20px 60px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    .confirm--wrapper {
      width: 100%;
      height: auto;
      padding: 10px;

      .user--details {
        .heading {
          width: 100%;
          height: 2rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 1rem;

          hr {
            border: 2px solid #0432c9;
            margin-right: 1rem;
            height: 100%;
            border-radius: 2px;
          }
        }
        .card {
          min-height: 20vh;
          height: auto;
          box-shadow: var(--box-shadow-1);
          margin-bottom: 1rem;
          border-radius: 10px;
          padding: 10px 40px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          background: #eee;

          span {
            margin-bottom: 1rem;
          }
        }
      }
      .btn {
        height: 3rem;
        width: 10vw;
        margin-top: 1rem;
        outline: none;
        border: none;
        font-size: 0.9rem;
        border-radius: 3px;
        color: #fff;
        box-shadow: var(--box-shadow-1);
      }
      .btn--continue {
        background: #25d366;
      }
      .btn--return {
        background: #444;
        margin-right: 5rem;
      }
    }
  }

  .success--container {
    width: 100%;
    height: 100vh;
    padding: 30px 20px;
    .success--card {
      box-shadow: var(--box-shadow-1);
      margin: 0 30%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 40vh;
      border-radius: 10px;
      background: #eee;
      padding: 20px;
      background: lighten(#25d366, 15%);
      color: #fff;
    }
  }
}
